<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Cadastro de Anúncios</title>
</head>

<body>
    <h1 class="text-center m-5">Cadastro de Anúncios</h1>

    <form method="POST" action="/cadastro">
        <div class="container-fluid">
            <div class="container col-sm-12 col-md-10 col-lg-6">
                <% if(error) { %>
                    <% error.forEach(function(erro) { %>
                        <div class="alert alert-danger mr-3 ml-3" role="alert">
                            <%= erro %>
                        </div>
                    <% }) %>
                <% } %>
                <div class="mb-3">
                    <label for="name" class="form-label fw-bold">Nome:</label>
                    <input type="text" class="form-control" name="nome" value="<%=dados.nome%>"
                        placeholder="exemplo: processo seletivo Capgemini" >
                </div>
                <div class="mb-3">
                    <label for="cliente" class="form-label fw-bold">Cliente:</label>
                    <input type="text" class="form-control" name="cliente" value="<%=dados.cliente%>" placeholder="Capgemini" >
                </div>
                <div class="mb-3">
                    <label for="dataInicio" class="form-label fw-bold">Data de Início:</label>
                    <input type="date" class="form-control" name="dataInicio" value="<%=dados.dataInicio%>" >
                </div>
                <div class="mb-3">
                    <label for="dataTermino" class="form-label fw-bold">Data de Término:</label>
                    <input type="date" min="<%=dados.dataInicio%>" class="form-control" name="dataTermino" value="<%=dados.dataTermino%>">
                </div>
                <div class="mb-3">
                    <label for="investimento" class="form-label fw-bold" id="labelInvestimentoDia">Investimento por dia:</label>
                    <div class="input-group mb-1">
                        <span class="input-group-text">R$</span>
                        <input type="number" step="0.01" class="form-control" id="investimentoDia" name="investimentoDia" value="<%=dados.investimentoDia%>" placeholder="exemplo: 30,00"
                            aria-label="Quantidade em reais" >
                    </div>
                    <span id="investimentoInformado"></span>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Cadastrar anúncio</button>
                </div>
            </div>
        </div>
    </form>

    <script>
        const investimentoDia = document.getElementById('investimentoDia');
        investimentoDia.addEventListener("input", exibePreviaDoValorComoMoedaBRL, false)

        function exibePreviaDoValorComoMoedaBRL() {
            let valor = +investimentoDia.value;
            document.getElementById("investimentoInformado").textContent = "Prévia do valor digitado: " + valor.toLocaleString('pt-BR') 
        };
    </script>
</body>

</html>