<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Anúncios</title>
</head>

<body>

    <h1 class="text-center m-5">Relatório de Anúncios</h1>

    <div class="container-fluid">
        <div class="container">

            <!-- Busca -->
            <form action='/anuncios?' class="search pl-3">
                <fieldset class="border rounded-1 p-3">
                    <div class="row d-flex align-items-end">
                        <div class="col-md-3 col-sm-12">
                            <label for="dataInicio" class="col-form-label-sm fw-bold">Data de Início:</label>
                            <input type="date" class="form-control" name="dataInicio">
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <label for="dataTermino" class="col-form-label-sm fw-bold">Data de Término:</label>
                            <input type="date" class="form-control" name="dataTermino">
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <label for="q" class="col-form-label-sm fw-bold">Cliente:</label>
                            <input type="search" id="search" name="q" class="form-control" placeholder="Capgemini">
                        </div>
                        <div class="col-md-3 col-sm-12 d-grid gap-2">
                            <button class="btn btn-outline-primary mt-2">Buscar</button>
                        </div>
                    </div>
                </fieldset>
            </form>

            <div class="row mt-4">
                <div class="col-md-3 col-sm-12 d-grid gap-2">
                    <a href="/cadastro" type="button" class="btn btn-primary mt-2">Cadastrar Anúncio</a>
                </div>
            </div>

            <!-- Relatório -->
            <div class="table-responsive mt-5">
            <% if(anuncioNaoEncontrado === true) { %>
                <div class="alert alert-danger mt-3" role="alert">
                    Ops... não localizamos anúncios que correspondem a sua busca. <a href="/anuncios" class="alert-link">Clique aqui</a> para limpar a pesquisa, ou refaça a busca com outros critérios.
                </div>
            <% } %>
                <table class="table table-sm table-striped table-hover align-middle">

                <% if(anuncioNaoEncontrado === false) { %>
                <caption>
                    <%= dataInicio && dataTermino ? `Lista de anúncios referente ao período de ${dataInicio} até ${dataTermino}` : ""%>

                    <%= dataInicio && !dataTermino ? `Lista de anúncios que iniciaram em ${dataInicio}` : !dataInicio && dataTermino ? `Lista de anúncios que terminaram em ${dataTermino}` : ""%>

                    <%= !dataInicio && !dataTermino ? `Lista dos anúncios de todo o período,` : ""%>

                    <%= cliente ? `referente aos clientes com o termo "${cliente}" no nome` : `contemplando todos os clientes` %>
                </caption>
                <% } %>
                    <thead>
                        <tr class="align-middle text-center">
                            <th scope="col">Nome</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Data de início</th>
                            <th scope="col">Data de término</th>
                            <th scope="col">Valor total investido (R$)</th>
                            <th scope="col">Visualizações (máx)</th>
                            <th scope="col">Cliques (máx)</th>
                            <th scope="col">Compartilhamentos (máx)</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle text-center">
                        <% anuncios.forEach(function(anuncio) { %>
                            <tr>
                                <th scope="row"> <%= anuncio.nome %></th> 
                                <td> <%= anuncio.cliente %> </td> 
                                <td> <%= anuncio.dataInicio %> </td> 
                                <td> <%= anuncio.dataTermino %> </td> 
                                <td> <%= anuncio.investimentoTotal %> </td> 
                                <td> <%= anuncio.visualizacoes %> </td> 
                                <td> <%= anuncio.cliques %> </td> 
                                <td> <%= anuncio.compartilhamentos %> </td> 
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
</html>